<!DOCTYPE html>
<html>
<head>
<title>Face/b/ook (HW 2)</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="icon" href="{{fav}}" type="image/x-icon">
<link rel="stylesheet" type="text/css" href="{{styleCss}}">
</head>
<body>
<div class="main">
	<h2>Upload page</h2>

	{% for message in get_flashed_messages() %}
		<div class="flash">{{message}}</div>
	{% endfor %}

	{% if filename  %}
	    <img src="{{url_for('ShowImg', filename=filename)}}">
	{% endif %}

    <form method="post" enctype="multipart/form-data">
      <input type="file" name="file">
      <input type="submit">
    </form>
</div>
</body>
</html>